{% extends 'shared/base.html' %} 

{%load static%} 

{% block css_file %}
<link rel="stylesheet" href="{% static 'style/style.css' %}" />
{% endblock css_file %} 

{% block content %}


<h1>{{ author.first_name }} {{ author.last_name }}</h1>
<p>Email: {{ author.email }}</p>
<p>Phone: {{ author.phone_number }}</p>



{# Mafrood hena a3ml show lel pic of author bs msh sha8aaaaaaaaaaal :(= #}
{% if author.image %}
    <img src="{{ author.image.url }}" width="300" alt="{{ author.first_name }}'s profile picture">
{% else %}
    <p>No profile image available</p>
{% endif %}



<h2>Posts by this author:</h2>
<ul>
  {% for post in author.post_set.all %}
    <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}